#main-container{
    width: 100%;
}
.main-content-row{
    margin-left: 0px;
    margin-right: 0px;
}
.main-content{
    background-color: #ffffff;
    margin-top: 60px;
    margin-bottom: 40px;
}
.header-shade-row{
    background-image: url('./../images/dt.png');
    height: 40px;
}
.header-row{
    margin-top: 20px;
    margin-bottom: 20px;
}
.logo-div{
    padding-left: 0px;
    padding-right: 0px;
}
.menu-div{
    padding-left: 0px;
    padding-right: 0px;
}
#navigation-bar{
    position: absolute;
    right: 0px;
}
.navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 0px;
    min-height: 35px;
    margin-bottom: 0px;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    min-height: 35px;
}
.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #cccccc;
}
.navbar-inverse .navbar-toggle {
    background-color: #333;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #333;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    font-size: 8px;
    color: #888;
    text-transform: uppercase;
    margin: 0 0 0 0px;
    letter-spacing: .7px;
    font-weight: bold;
}
.navbar-nav {
    margin: 0px 0px;
}
.nav > li > a {
    padding: 5px 7px;
}
.slideshow-row-div{
    padding-left: 0px;
    padding-right: 0px;
}
.w3-section, .w3-code {
    margin-top: 1px!important;
}
img {
    margin-bottom: 0px;
}
.slideshow-row{
    background-color: #d9d9d9;
    border: 1px solid #d9d9d9;
}
.highlight-img {
    height: 30px;
}
.footer-row{
    padding-top: 10px;
    background-color: #000;
    height: 100px;
    clear: both;
    text-align: center;
    font-size: 10px;
    color: #aaa;
    letter-spacing: .75px;
    padding-top: 40px;
}
.footer-row-social{
    padding-top: 30px;
    background-color: #ffffff;
    height: 80px; 
    font-size: 20px;
}
.footer-row-social span{
    padding: 5px;
}
.homepage-content{
    min-height: 400px;
}
.event-search-card{
    background: -webkit-linear-gradient(rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.96) 30%,white 60%);
    background: -o-linear-gradient(rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.96) 30%,white 60%);
    background: linear-gradient(rgba(255,255,255,0.85) 0%,rgba(255,255,255,0.96) 30%,white 60%);
    position: relative;
    margin-top: -2.5rem;
    padding: 2rem;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.event-search-card div{
    padding-right: 0px;
    padding-left: 0px;
}
.event-search-card input{
    width: 100%;
    height: 2.5rem;
}
.event-search-card button{
    width: 100%;
    height: 2.5rem;
}
#search-button{
    font-size: 1.0em;
}
#search-button span{
    font-size: 0.8em;
}
.upcoming-events-title{
    text-align: center;
    color: #000;
    margin-top: 25px;
    margin-bottom: 25px;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}
#myCarousel{
    height: 280px;
}
#myCarousel img{
    height: 280px;
}
.event-poster{
    height: 150px;
    width: 100%;
    margin-top: 10px;
}
.event-card-holder{
    background-color: #f5f5f0;
    margin-bottom: 2px; 
    margin-top: 2px;
}
.events-date{
    font-size: 0.7em;
}
.events-title{
    font-size: 1.2em;
}
.events-venue{
    font-size: 0.9em;
}
.events-social-media{
    font-size: 0.7em;
    font-weight: bold;
}
.event-card-details-link{
    padding-top: 8px;
    font-size: 0.8em;
    color:#4d4dff;
}
.events-social-media-row{
    background-color: #ebebe0;
}
.event-cards-rows{
    margin-left: 0px;
    margin-right: 0px;
}
.events-list-row{
    margin-top: 20px;
    margin-bottom: 20px;
}
@media (min-width: 768px){
    .navbar-nav > li > a {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #f2f2f2;
        color: #888;
        font-size: 9px;
        text-transform: uppercase;
        margin: 0 0 0 3px;
        letter-spacing: .7px;
        font-weight: bold;
    }
    .menu-div{
        padding-top: 30px;
    }
    .footer-row-social{
        padding-top: 30px;
        background-color: #ffffff;
        height: 100px; 
        font-size: 30px;
    }

}