#loadingDiv{
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('./../images/ajax-loader-2.gif') 
                50% 50% 
                no-repeat;
}
.disable-merchant-verification{
    pointer-events: none;
    cursor: default;
    color:grey;
}
.title-colors{
    color: #2b7ab6;
    font-weight: bold;
}
#title-colors{
    color: #2b7ab6;
    font-weight: bold;
}
#ticket-tier-details table{
    font-size: 0.8em;
}
.grid-font-formating table{
    font-size: 0.8em;
}
.details-row{
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 10px;
}
.heading-row{
    background-color: #f5f5f0;
    border-bottom: 1px solid #ebebe0;
    margin-left: 2px;
    margin-right: 2px;
}
.tab-header-formatting li{
    font-weight: bold;
    font-size: 0.8em;
}
.image-card-holder-row div{
    padding-left: 0px;
    padding-right: 0px;
}
.image-card-holder-row img{
    height: 100px;
    width: 98%;
    margin: 1%;
}
.image-card-holder{
    border: 1px solid #ebebe0;
    background-color: #f5f5f0;
    height: 250px;
}
.main-card-holder{
    height: 250px;
}
.inner-image-card-row{
    margin-left: 0px;
    margin-right: 0px;
}
.details-card-holder-row div{
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
}
.details-card-holder-row h4{
    font-size: 12px;
    font-weight: bold;
}