html,
body {
    height: 100%;
    background: #EDECE9;
    padding-top: 4px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 0px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}


.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
    
    #app-name{
        display: none;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

#main-header{
    height:100px;
}
#row-header{
    height:25px;
    background-color: #2b7ab6;
    background:#2b7ab6; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #2b7ab6 , #d6e8f5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #2b7ab6, #d6e8f5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #2b7ab6, #d6e8f5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #2b7ab6 , #d6e8f5); /* Standard syntax */
}
#semi-logo-holder{
    height: 25px;
    background-color: #fff;
    border-left:1px solid #e0e0d1;
}
#header-container{
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
#lower-row-header{
    height: 10px;
}
#logo-holder{
    padding-top: 10px;
    background-color: #fff;
    border-radius: 5px 5px 0px 0px;
    height:100px;
    border-left:1px solid #e0e0d1;
    border-right:1px solid #e0e0d1;
    border-top:1px solid #e0e0d1;
}
#lower-logo-holder{
    height: 10px;
    background-color: #fff;
    border-left:1px solid #e0e0d1;
    border-right:1px solid #e0e0d1;
    border-bottom:1px solid #e0e0d1;
    border-radius: 0px 0px 5px 5px;
}
.lower-header-row{
    background-color: #fff;
}
#lower-logo-holder-2{
    background-color: #fff;
    height: 10px;
}
.header-title{
    text-align: right;
    font-weight: bold;
    padding-top: 0px;
    text-transform: uppercase;
}
#footer-container {
    height: 100px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;

}
#row-footer{
    background-color: #2b7ab6;
    height:100px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

}

#main-content-div{
    background-color: #fff;
    min-height: 414px;
    padding-bottom: 0px;
    padding-top: 0px;
}
#main-container{
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    min-height: 414px;
}

#login-container{
    padding: 10px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin-bottom: 50px;
}
#form-title{
    padding-bottom: 10px;
    font-size: 15px;
    text-transform: uppercase;
}
#username-row{
    padding-bottom: 20px;  
}
.logout-icon{
    color: #000;
}
.notification-bar{
    padding-top: 2px;
}
.content-menu{
    background-color: #e6e6e6;
    padding-left: 0px; 
    padding-right: 0px;
}

.basic-wizard .nav li.active a, .basic-wizard .nav li.active a:focus, .basic-wizard .nav li.active a:active {
    border-bottom-color: #f4f4f4;
    color: #333;
    opacity: 1;
    background-color: #f4f4f4;
    border-top-color: #f4f4f4;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    border-top-color: #f4f4f4;
}
.nav-pills > li > a {
    background: #e4e7ea;
    border-radius: 0;
    border-top: 1px solid transparent;
    border-right: 1px solid #ccc;
    color: #444;
}
.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
    border-top: 1px solid #ddd;
    background-color: #f7f7f7;
    padding: 10px;
}
.pager li > a{
    display: inline-block;
    padding: 5px 14px;
    border: 1px solid #12488b;
    background-color: #12488b;
    border-radius: 2px;
    color: #fff;
}
.pager li > a:hover, .pager li > a:focus{
    display: inline-block;
    padding: 5px 14px;
    border: 1px solid #21395e;
    background-color: #21395e;
    border-radius: 2px;
    color: #fff;
}
.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
    color: #999;
    cursor: not-allowed;
    background-color: #eee;
    border: 1px solid #ccc;
}
.skin-blue .main-header .logo {
    text-align: left;
}