.check_1{
    margin-top: 10px;
    margin-bottom: 5px;
}
.check_2{
    margin-bottom: 5px;
}
.check_3{
    margin-top: 5px;
}
.panel_check{
    margin-top: 20px;
}
#proceed_btn{
    margin-top: 10px;
}