
body {
    background: #fff;
    font-family: "Open Sans", sans-serif;
}

a {
    color:#1B7B98;
    transition: 0.5s;
}

a:hover, a:active, a:focus {
    color:#eb9316;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}
.navbar-toggle {
  margin-top: 12px
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-toggle, 
.navbar-toggle:focus {
  border:1px solid #fff;
  outline: none;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

/*--------------------------------------------------------------
# Welcome
--------------------------------------------------------------*/
#hero {
    display: table;
    width: 100%;
    height: 100vh;
    background: url(../images/hero-1.jpg) top center fixed;
    background-size: cover;

}

.hero-logo .img-responsive {
    margin: 0 auto;
    max-width: 100%;
    z-index: 999;
}


#hero .hero-container {
    background: rgba(0, 0, 0, 0.3);
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align:center;
    vertical-align: middle;
}

#hero h1 {
    margin: 30px 0 20px 0;
    font-weight: 900;
    line-height: 48px;
    text-transform: uppercase;
    color: #fff;
    font-family:cursive;
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
}

.hero-text {
    color: #f4f4f4;
    margin-bottom: 20px;
    font-family:cursive;
    display: inline-block;
    position:relative;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);

}

@media (max-width: 768px) {
    .hero-text {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 30px;
        display:block;
    } 
}
/* Animation */

#hero .actions a {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    margin-top: 10px;
}

#hero .btn-get-started {
    background:#2b7ab6;
    border: 2px solid #1B7B98;
    color: #fff;
    border-radius:3px;
}

#hero .btn-get-started:hover {
    background: none;
    border: 2px solid #fff;
    color: #fff;

}

#hero .btn-buy-tickets {
    border: 2px solid #fff;
    color: #fff;
    border-radius:3px;
}

#hero .btn-buy-tickets:hover {
    background: #2b7ab6;
    border: 2px solid #1B7B98;
}

#slogan
{
   animation-iteration-count: infinite;
   animation-duration: 2s;
   color: #1B7B98;
}

/*************************
*******Header CSS******
**************************/


.main-nav {
  position: absolute;
  width: 100%;
  z-index: 999;

}

.main-nav 
.container {
  width: 100%;
  height:50px;
}

.social-icons a {
  font-size: 18px;
  color: #fff;
  padding-left:20px;  
}



.navbar-brand {
  background-color: #1B7B98;
  height: 90px;
  margin-bottom: 20px;
  position: relative;
  width: 297px;
}

.navbar-brand img {
  position: absolute;
  top: -35px;
}

.navbar-right {
  background-color: #1B7B98;
  padding:0 95px 0 0;
  opacity: .9;
  //height:90px;    
}

.navbar-right li a {
  padding: 35px 21px;
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', 'sans-serif';
  font-weight: 300;
}

.navbar-right li a:hover, 
.navbar-right li a:focus,  
.navbar-right .active a {
  background-color: #fff;
  color: #16728f
}


.fixed-menu {
  background-color: #1B7B98;
  position: fixed;
  top: 0;
}

.fixed-menu .navbar-right {
  padding: 0;
}


.fixed-menu .navbar-right li a {
  font-size: 18px;
  padding: 20px 25px;
  text-shadow:inherit;
}

.fixed-menu .navbar-brand {
  height: 60px;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  width: 125px;
}

.fixed-menu .navbar-brand img {
  height:60px;
  top: 0;
}

.fixed-menu .header-top {
  display: none;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Common
--------------------------------*/
.section-title {
    font-size: 25px;
    color:#1B7B98;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}


.section-title-divider {
    width: 200px;
    height: 3px;
    background: #eb9316;
    margin: 0 auto;
    margin-bottom: 20px;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/*************************
*******Home CSS******
**************************/
/*
 *	
 */

#wowslider-container1 { 
	display: table;
	zoom: 1; 
	position: relative;
	width: 100%;
	max-width: 100%;
	max-height:768px;
	margin:5px auto 12.5px;
	//z-index:90;
	text-align:left; /* reset align=center */
	font-size: 10px;
	text-shadow: none; /* fix some user styles */

	/* reset box-sizing (to boostrap friendly) */
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box; 
}
* html #wowslider-container1{ width:1024px }
#wowslider-container1 .ws_images ul{
	position:relative;
	width: 10000%; 
	height:100%;
	left:0;
	list-style:none;
	margin:0;
	padding:0;
	border-spacing:0;
	overflow: visible;
	/*table-layout:fixed;*/
}
#wowslider-container1 .ws_images ul li{
	position: relative;
	width:1%;
	height:100%;
	line-height:0; /*opera*/
	overflow: hidden;
	float:left;
	/*font-size:0;*/
	padding:0 0 0 0 !important;
	margin:0 0 0 0 !important;
}

#wowslider-container1 .ws_images{
	position: relative;
	left:0;
	top:0;
	height:100%;
	max-height:768px;
	max-width: 100%;
	vertical-align: top;
	border:none;
	overflow: hidden;
}
#wowslider-container1 .ws_images ul a{
	width:100%;
	height:100%;
	max-height:768px;
	display:block;
	color:transparent;
}
#wowslider-container1 img{
	max-width: none !important;
}
#wowslider-container1 .ws_images .ws_list img,
#wowslider-container1 .ws_images > div > img{
	width:100%;
	border:none 0;
	max-width: none;
	padding:0;
	margin:0;
}
#wowslider-container1 .ws_images > div > img {
	max-height:768px;
}

#wowslider-container1 .ws_images iframe {
	position: absolute;
	z-index: -1;
}

#wowslider-container1 .ws-title > div {
	display: inline-block !important;
}

#wowslider-container1 a{ 
	text-decoration: none; 
	outline: none; 
	border: none; 
}

#wowslider-container1  .ws_bullets { 
	float: left;
	position:absolute;
	z-index:70;
}
#wowslider-container1  .ws_bullets div{
	position:relative;
	float:left;
	font-size: 0px;
}
/* compatibility with Joomla styles */
#wowslider-container1  .ws_bullets a {
	line-height: 0;
}

#wowslider-container1  .ws_script{
	display:none;
}
#wowslider-container1 sound, 
#wowslider-container1 object{
	position:absolute;
}

/* prevent some of users reset styles */
#wowslider-container1 .ws_effect {
	position: static;
	width: 100%;
	height: 100%;
}

#wowslider-container1 .ws_photoItem {
	border: 2em solid #fff;
	margin-left: -2em;
	margin-top: -2em;
}
#wowslider-container1 .ws_cube_side {
	background: #A6A5A9;
}


#wowslider-container1.ws_gestures {
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABwSURBVEjH7ZJBEsAgCAMT/v/n9NCOSqe2oD2yNx1JggB4BCEFWyFASP2KMQE7ywWhe/tTRGCGogLk02tFctiW/SUgaMyQG4PdPzDn31rQbMb8FiAXgvsEJNax1yVlVGAjA93apP3HFhZTGIqiKH7iADB6HxPlHdNVAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE0LTA3LTA3VDEzOjQ5OjEwKzAyOjAwm7WiFAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNC0wNy0wN1QxMzo0OToxMCswMjowMOroGqgAAAAASUVORK5CYII="), move;
}
#wowslider-container1.ws_gestures.ws_grabbing {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABaSURBVEjH7ZMxCkAhDEOT8u9/5TpJ+xWkFse8IYutJgEB8RCHL1qCc90BEFnT6QH7mwgFHBUf8wJyS1TDLuc3vmighx37LZdIth3E5hKj9n6O0HRh+oJCiFcMxRUUDxR1CTMAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDctMDdUMTM6NDk6MzgrMDI6MDDqf+sOAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTA3LTA3VDEzOjQ5OjM4KzAyOjAwmyJTsgAAAABJRU5ErkJggg=="), move;
}

/* hide controls when video start play */
#wowslider-container1.ws_video_playing .ws_bullets,
#wowslider-container1.ws_video_playing .ws_fullscreen,
#wowslider-container1.ws_video_playing .ws_next,
#wowslider-container1.ws_video_playing .ws_prev {
	display: none;
}


/* youtube/vimeo buttons */
#wowslider-container1 .ws_video_btn {
	position: absolute;
	display: none;
	cursor: pointer;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 55;
}
#wowslider-container1 .ws_video_btn.ws_youtube,
#wowslider-container1 .ws_video_btn.ws_vimeo {
	display: block;
}
#wowslider-container1 .ws_video_btn div {
	position: absolute;
	background-image: url(./playvideo.png);
	background-size: 200%;
	top: 50%;
	left: 50%;
	width: 7em;
	height: 5em;
	margin-left: -3.5em;
	margin-top: -2.5em;
}
#wowslider-container1 .ws_video_btn.ws_youtube div {
	background-position: 0 0;
}
#wowslider-container1 .ws_video_btn.ws_youtube:hover div {
	background-position: 100% 0;
}
#wowslider-container1 .ws_video_btn.ws_vimeo div {
	background-position: 0 100%;
}
#wowslider-container1 .ws_video_btn.ws_vimeo:hover div {
	background-position: 100% 100%;
}

#wowslider-container1 .ws_playpause.ws_hide {
	display: none !important;
}
#wowslider-container1  .ws_bullets { 
	padding: 15px 0; 
}
#wowslider-container1 .ws_bullets a { 
	width:12px;
	height:12px;
	border-radius: 50%;
	background: #34495E;
	float: left; 
	text-indent: -4000px; 
	position:relative;
	margin-left:5px;
	color:transparent;
}
#wowslider-container1 .ws_bullets a.ws_selbull{
	background: #ffffff;
	color:#ffffff;
}
#wowslider-container1 a.ws_next, #wowslider-container1 a.ws_prev {
	position: absolute;
	top: 50%;
	height: 7em;
	margin-top: -3.5em;
	width: 5em;
	z-index: 60;
}
#wowslider-container1 a.ws_next{
	right:0;
}

#wowslider-container1 a.ws_next span i:after,
#wowslider-container1 a.ws_next span b:after,
#wowslider-container1 a.ws_next span i:before,
#wowslider-container1 a.ws_next span b:before,
#wowslider-container1 a.ws_prev span i:after,
#wowslider-container1 a.ws_prev span b:after,
#wowslider-container1 a.ws_prev span i:before,
#wowslider-container1 a.ws_prev span b:before{
	content: '';
	position: absolute;
	width: 100%;
	height: .3em;
	background: #ffffff;
	top: 3.2em;
	-webkit-transition: .3s all ease-in-out;
	transition: .3s all ease-in-out;

	/* Fix  */
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	outline: 1px solid transparent;
}
#wowslider-container1 a.ws_next span b:after,
#wowslider-container1 a.ws_next span b:before,
#wowslider-container1 a.ws_prev span b:after,
#wowslider-container1 a.ws_prev span b:before{
	background: #34495E;
	width: 0;
}
#wowslider-container1 a.ws_next span i:after,
#wowslider-container1 a.ws_next span b:after,
#wowslider-container1 a.ws_prev span i:after,
#wowslider-container1 a.ws_prev span b:after{
	-webkit-transform: rotate(40deg);
	-ms-transform: rotate(40deg);
	transform: rotate(40deg);
}
#wowslider-container1 a.ws_next span i:before,
#wowslider-container1 a.ws_next span b:before,
#wowslider-container1 a.ws_prev span i:before,
#wowslider-container1 a.ws_prev span b:before{
	-webkit-transform: rotate(-40deg);
	-ms-transform: rotate(-40deg);
	transform: rotate(-40deg);
}

#wowslider-container1 a.ws_prev span i:after,
#wowslider-container1 a.ws_prev span i:before,
#wowslider-container1 a.ws_prev span b:after,
#wowslider-container1 a.ws_prev span b:before{
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	left: 1em;
}
#wowslider-container1 a.ws_next span i:after,
#wowslider-container1 a.ws_next span i:before,
#wowslider-container1 a.ws_next span b:after,
#wowslider-container1 a.ws_next span b:before{
	-webkit-transform-origin: 100% 0;
	-ms-transform-origin: 100% 0;
	transform-origin: 100% 0;
	right: 1em;
}

#wowslider-container1 a.ws_next:hover span i:before,
#wowslider-container1 a.ws_next:hover span b:before,
#wowslider-container1 a.ws_prev:hover span i:before,
#wowslider-container1 a.ws_prev:hover span b:before{
	-webkit-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	transform: rotate(-30deg);
}
#wowslider-container1 a.ws_next:hover span i:after,
#wowslider-container1 a.ws_next:hover span b:after,
#wowslider-container1 a.ws_prev:hover span i:after,
#wowslider-container1 a.ws_prev:hover span b:after{
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
}
#wowslider-container1 a.ws_prev:hover span b:after,
#wowslider-container1 a.ws_prev:hover span b:before,
#wowslider-container1 a.ws_next:hover span b:after,
#wowslider-container1 a.ws_next:hover span b:before{
	width:100%;
}

/*playpause*/
#wowslider-container1 .ws_playpause {
    position: absolute;
    width: 3em;
    height: 2em;
    top: 1.5em;
    left: 0.5em;
    z-index: 59;
}

#wowslider-container1 .ws_pause span i, #wowslider-container1 .ws_pause span b{
	position: absolute;
  	width: 0.2em;
  	height: 2em;
  	background: #ffffff;
	-webkit-transition: background 300ms ease-in-out;
	transition: background 300ms ease-in-out;
}

#wowslider-container1 .ws_pause span i{
	left: 1.4em;
}

#wowslider-container1 .ws_pause span b{
	left: 2.1em;
}


#wowslider-container1 .ws_play span{
	border: solid transparent;
	position: absolute;
  	pointer-events: none;
	border-left-color: #ffffff;
	border-width: 10px;
	top: 0;
	left: 1.4em;
	-webkit-transition:  border-left-color 300ms ease-in-out;
	transition:  border-left-color 300ms ease-in-out;
}

#wowslider-container1 .ws_pause:hover span i, #wowslider-container1 .ws_pause:hover span b{
	background: #34495E;
}
#wowslider-container1 .ws_play:hover span{
	border-left-color: #34495E;
}
/* bottom center */
#wowslider-container1  .ws_bullets {
    bottom: 0px;
	left:50%;
}
#wowslider-container1  .ws_bullets div{
	left:-50%;
}
#wowslider-container1 .ws_bulframe span {
	visibility: visible;
	opacity: 1;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #ffffff;
	bottom: -5px;
	margin-left: -5px;
	left: 50%;
}#wowslider-container1 .ws-title{
	position: absolute;
	font: 1.8em 'PT Sans', sans-serif;	
	margin-right:10em;
	z-index: 50;
    color: #34495E;
	background: none;
	padding: 30px;
	bottom: 0px;
	top: auto;
	opacity: 1;
}
#wowslider-container1 .ws-title div,#wowslider-container1 .ws-title span{
	display:inline-block;
	background-color:#ffffff;
}
#wowslider-container1 .ws-title div{
	display:block;
	margin-top:0.5em;
	font-size: 0.8em;
	line-height: 1.15em;
	padding: 5px 20px;
}
#wowslider-container1 .ws-title span{
	font-size: 1.6em;
	padding: 10px 20px;
}#wowslider-container1 .ws_images > ul{
	animation: wsBasic 12s infinite;
	-moz-animation: wsBasic 12s infinite;
	-webkit-animation: wsBasic 12s infinite;
}
@keyframes wsBasic{0%{left:-0%} 16.67%{left:-0%} 33.33%{left:-100%} 50%{left:-100%} 66.67%{left:-200%} 83.33%{left:-200%} }
@-moz-keyframes wsBasic{0%{left:-0%} 16.67%{left:-0%} 33.33%{left:-100%} 50%{left:-100%} 66.67%{left:-200%} 83.33%{left:-200%} }
@-webkit-keyframes wsBasic{0%{left:-0%} 16.67%{left:-0%} 33.33%{left:-100%} 50%{left:-100%} 66.67%{left:-200%} 83.33%{left:-200%} }


* html #wowslider-container1 .ws_shadow{/*ie6*/
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src='engine1//bg.png', sizingMethod='scale');
}
*+html #wowslider-container1 .ws_shadow{/*ie7*/
	background:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader( src='engine1//bg.png', sizingMethod='scale');
}
#wowslider-container1 .ws_bullets  a img{
	text-indent:0;
	display:block;
	bottom:15px;
	left:-32px;
	visibility:hidden;
	position:absolute;
    border: 5px solid #FFFFFF;
	max-width:none;
}
#wowslider-container1 .ws_bullets a:hover img{
	visibility:visible;
}

#wowslider-container1 .ws_bulframe div div{
	height:48px;
	overflow:visible;
	position:relative;
}
#wowslider-container1 .ws_bulframe div {
	left:0;
	overflow:hidden;
	position:relative;
	width:64px;
	background-color:#FFFFFF;
}
#wowslider-container1  .ws_bullets .ws_bulframe{
	display:none;
	bottom:18px;
	margin-left:6px;
	overflow:visible;
	position:absolute;
	cursor:pointer;
    border: 0px solid #FFFFFF;
}#wowslider-container1 .ws_bulframe div div{
	height: auto;
}

@media all and (max-width:760px) {
	#wowslider-container1 .ws_fullscreen {
		display: block;
	}
}
@media all and (max-width:400px){
	#wowslider-container1 .ws_controls,
	#wowslider-container1 .ws_bullets,
	#wowslider-container1 .ws_thumbs{
		display: none
	}
}

#wowslider-container1
.carousel-caption {
  background: none repeat scroll 0 0 #000000;
  bottom: 50%;
  float: left;
  left: 0;
  opacity: 0.8;
  padding:10px 60px 35px;
  right: inherit;
  text-transform: uppercase;
  color: #fff;
  text-align: left;
  z-index: 9999;
 // height:80px; 
}


#wowslider-container1 
.carousel-caption h2 {  
  font-size: 30px;
 
}

#wowslider-container1 
.carousel-caption h4 {
  font-size: 20px;
}

#wowslider-container1 
.carousel-caption a {
  font-size: 20px;
  color: #2da1c5
}

#wowslider-container1 
.carousel-caption a:hover {
  color: #2588a6
}

#wowslider-container1 
.carousel-caption a:hover i {
  margin-left: 35px
}

#wowslider-container1 
.carousel-caption a i {
  margin-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#wowslider-container1 
.carousel-indicators li {
  background-color:#1B7B98;
  border: 1px solid #1B7B98;
}

#wowslider-container1 
.carousel-indicators li.active {
  background-color:#fff;
  border: 1px solid #fff;
}



#searchForm-holder{
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/events.jpg") fixed center center;
    background-size: cover;  
}
#search-title-row{
    height:20px;
    background-color: red;
}

#searchForm {
    padding-top: 5px;
    height:200px;
    border-radius: 5px 5px 5px 5px;
    border-top:1px solid #e0e0d1;
    border-right:1px solid #e0e0d1;
    border-left:1px solid #e0e0d1 ;
    border-bottom :1px solid #e0e0d1;
    margin-top:-140px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
}    

#search-title{
    padding-top:5px;
    text-align: center;
    text-transform: uppercase;
    color:#1B7B98;
    font-size: 20px;
}
@media (max-width: 768px) {
    #search-title {
        font-size: 20px;
        line-height: 36px;
    }
}
.event-divider{
    width: 100%;
    height: 3px;
    background:#eb9316;
    margin: 0 auto;
    margin-bottom: 20px;
}
/* search form
-------------------------------------------------- */
.icon-search{
    margin-right:10px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group .form-control:not(:first-child):not(:last-child), .input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.buscador-principal .form-control {
    height: 52px;
}
.btn {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 0;
    padding: 15px 25px;
    height:52px;
}
@media only screen and (max-width: 768px) {
    .buscador-principal {
		display: block;
	}
	.buscador-principal button{
		width: 100%;
	}
	.claim-container {
		font-size: 15px;
		display: none;
	}
}

.form-control:focus {
    border-color: #bcefeb;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
}

/* upcoming Events Section
--------------------------------*/


#upcoming{
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/events.jpg") fixed center center;
    background-size: cover;
    padding: 80px 0 60px 0;
}
#event-title{
    text-align: center;
    color:#1B7B98;
    font-size: 20px;
    //line-height: 36px;
    margin-top: 2px;
}
.event-divider{
    width: 100%;
    height: 1px;
    background:#eb9316;
    margin: 0 auto;
}
.event-title-line{
    height:15px
}
.event-content{
    height:141px;
}
.event-img{
    width:100%;
    max-height:140px;
}
#events-card{
    padding-top: 2px;
    height:310px;
    border-radius: 5px 5px 5px 5px;
    border-top:1px solid #e0e0d1;
    border-right:1px solid #e0e0d1;
    border-left:1px solid #e0e0d1 ;
    border-bottom :1px solid #e0e0d1;
    background-color: #fff;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    /* On mouse-over, add a deeper shadow */
    #events-card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }


    #events-row{
        margin:0 auto;
    }  

}

#event-info{
    height: 122px;
    background-color: #e0e0d1;
    border-radius: 0px 0px 5px 5px;


}
.event-date{
    height:122px;
   padding-top: 20px;
    background-color:#eb9316;
	padding-left: 20px;
}

#event-date-text{
    
    font-family:cursive;
    font-weight: bold;
    font-size: 10px;
    margin:0 auto;
    color:#fff;
	
   
}
#conjuctionDate{
	color:#fff;
		//padding-top:40px;
}
.conjuctionDateHolder{
	padding-right:40px;
}
#endDate{
    
    font-family:cursive;
    font-weight: bold;
    font-size: 10px;
    margin:0 auto;
    color:#fff;
	
   
}
.event-date-holder{
    padding-left: 30px;
	padding-right: 15px;
	padding-top:10px;
}
.event-month-holder{
    padding-left: 28px; 
}

.event-time{
    font-family: cursive;
    font-style: italic;
    font-size: 15px;
    color:#1B7B98;
   
}
.event-time-holder{
    margin-bottom:10px;
    padding-left: 12px;
}
.event-venue-holder{
   
}
.event-venue{
    font-family:cursive;
    font-weight: bold;
   
    font-size: 15px;
   text-transform: uppercase;
}

.share-btn-holder{
    margin-bottom: 5px;
    padding-top: 5px;
}
.share-btn{
    font-size:1.5em;
}
#glyph-link{
    margin-top:3px;
    font-size: 15px;
}
.viewevent a i{
	font-size:2em;
}
/*************************
*******Explore CSS******
**************************/

#explore {
  //background-color: #C34C39;
  background:rgba(0,0,255,0.1);
  background-position: center bottom;
  background-size: cover;
  background-repeat:no-repeat;
  position: relative;
  overflow: hidden;
  padding: 130px 0 100px;
 
}

.watch {
  position: absolute;
  left: 0;
  top: 7%;
}

#explore h2 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  display:inline-block;
}

#countdown {
  display: block;
  overflow: hidden;
  text-align: center;
  padding: 0
}

#countdown li {
  list-style: none;
  display:inline-block;
  margin-right: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
}

#countdown li:last-child {
  margin-right: 0
}

#countdown li span {
  display: block;
  font-size: 40px;
  font-weight: 700;
  height: 82px;
  line-height: 79px;
  width: 75px;
  border-radius: 10px;
  border-right: 1px solid #9e3e2e;
  border-bottom: 1px solid #9e3e2e;
}

#countdown li .days {
  background-color: #45b29d;
  border-top: 1px solid #6ac1b1;
  border-left: 1px solid #6ac1b1;
}

#countdown li .hours {
  background-color: #efc94c; 
  border-top: 1px solid #f2d470;
  border-left: 1px solid #f2d470;
}

#countdown li .minutes {
  background-color: #e27a3f;
  border-top: 1px solid #e89565;
  border-left: 1px solid #e89565;
}

#countdown li .seconds {
  background-color: #df5a49;
  border-top: 1px solid #e57b6d;
  border-left: 1px solid #e57b6d;
}

#countdown li:before {
  background-color: #FFFFFF;
  content: "";
  height: 11px;
  left: 0;
  position: absolute;
  top: 36px;
  width: 1px;
}

#countdown li:after {
  background-color: #FFFFFF;
  content: "";
  height: 11px;
  right:0;
  position: absolute;
  top: 36px;
  width: 1px;
}

.cart {
  background-color: #b34534;  
  position: absolute;
  right:-200px;
  top: 37%;
  width:252px;
   -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.cart:hover {
  right:0;
}


.cart a {
  color: #FFFFFF;
  display: inline-block;
  font-size:18px;
  text-transform: uppercase;
}

.cart a i {
  font-size: 30px;  
  padding: 20px 12px;
  background-color: #A64030; 
  margin-right: 3px;
}

 

/* HOW IT WORKS*/
#help{
  height:400px;
}
.main_feature{}
.main_feature .single_feature{}
.main_feature .single_feature:hover .single_feature_icon{
    border-color:#eb9316;
    transform: rotate(45deg);
}
.main_feature .single_feature:hover .single_feature_icon i{
    transform: rotate(-45deg);
}
.main_feature .single_feature:hover h4{
    color:#1B7B98;
}
.main_feature .single_feature .single_feature_icon{
    border:2px solid #eb9316;
    width:70px;
    height: 70px;
    line-height: 70px;
    margin:20px auto;
    transition: all 0.6s;
}
.main_feature .single_feature i{
    margin-bottom:30px;
    color:#333;
    transition: all 0.6s;
}
.main_feature .single_feature h4{
    transition: all 0.6s;
}
#help{
    background-color: #f4f4f4;
}

/*contact section css*/
.contact{
    background:#fff;

}
.contact_info_content{
    background: #fff;
    overflow: hidden;
    //box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0);
    border-radius: 8px;
    border:solid;
    border-color: #f4f4f4;
    
}
.contact_info_content h3{
    color:#1B7B98;
    font-family: cursive;
    margin-bottom: 19px;
}
.contact_info_content h4{
    font-family: 'open_sansregular';
    font-style: italic;
}
.contact_info_content h4{
    margin:0;
    padding: 0;
}
.single_contant_left{
    background: #fff;
    overflow: hidden;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.01);
    border-radius: 8px;
    border:solid;
    border-color: #f4f4f4;
    padding-top: 20px;
}
.single_contact_info{
    margin-bottom:45px;
    overflow: hidden;
}

.contact-btn:hover{
    color:#1B7B98;
}

/*FOOTER*/
.footer{
    background-image: url("../images/footer/footer-bg.jpg");
    background-size:cover;
    height:150px;
    margin-top:270px;
}
.main_footer{
    overflow: hidden;
    padding: 20px 0px;
}

.main_footer .flowus a i{
    color:#fff;
    font-size:1.5em;
    padding: 5px;
    border-radius: 0;
    width:30px;
    height:30px;
    text-align: center;
    line-height: 18px;
    margin-top:10px;
}
.main_footer .flowus a i.fa-facebook:hover{
    color:#3B5997;
}
.main_footer .flowus a i.fa-twitter:hover{
    color:#29C5F6;
}
.main_footer .flowus a i.fa-google-plus:hover{
    color:#D13D2F;
}
.main_footer .flowus a i.fa-youtube:hover{
    color:#ec5538;
}
.main_footer .flowus a i.fa-instagram:hover{
    color:#800080;
}

.copyright_text{
    text-align: right;
}
.copyright_text p{
    color:#fff;
    line-height: 25px;
    max-width: 100%;
    padding-top: 15px;
}
.copyright_text p i{
    padding:0px 10px;
    color:#ff0000;
}
.copyright_text p a{
    padding:0px 10px;
    color:#e74c3c;
}



/* scrollup */

.scrollup{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: #e74c3c;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}

